@import url(./style.css);

/* Burger menu media */
.hamburger-menu__container {
    display: none;
    position: absolute;
    top: 20px;
    right: 1px;
}

@media (max-width: 1024px) {
    .hamburger-menu__container {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

.hamburger-menu__items {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.hamburger-menu--item {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #000000;
    /* margin-left: auto; */
}

@media (max-width: 1024px) {
    .header__nav {
        display: none;
    }
}

/* Avatar photo media */
@media (max-width: 940px) {
    .main {
        margin-top: 83px;
    }
}

@media (max-width: 940px) {
    .main__intro {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 940px) {
    .main__intro--btn {
        margin-bottom: 59px;
    }
}

@media (max-width: 940px) {
    .main__intro--about {
        max-width: 328px;
        text-align: center;
        margin: 0 auto;
    }
}

/* @media (max-width: 940px) {
    .wrapper{
       
    }
} */

@media (max-width: 940px) {
    .main__intro--photo {
        width: 170px;
        height: 170px;
    }
}

@media (max-width: 940px) {
    .main__intro--name {
        font-size: 32px;
    }
}

/* Cards recent */

@media (max-width: 940px) {
    .recent__texts {
        justify-content: center;
    }
}

@media (max-width: 940px) {
    .recent__texts--more {
        display: none;
    }
}

@media (max-width: 940px) {
    .recent__texts--posts {
        font-size: 18px;
    }
}

@media (max-width: 940px) {
    .recent__cards--container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 940px) {
    .recent__cards--header {
        font-size: 22px;
    }
}

/* Featured works */

@media (max-width: 940px) {
    .featured__work {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 940px) {
    .featured__title {
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 940px) {
    .featured__work--img {
        width: 50vw;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .featured__work--img {
        width: 70vw;
        height: 100%;
    }
}

@media (max-width: 400px) {
    .featured__work--img {
        width: 90vw;
        height: 100%;
    }
}

@media (max-width: 940px) {
    .featured__work--desc {
        width: 50vw;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .featured__work--desc {
        width: 70vw;
        height: 100%;
    }
}

@media (max-width: 400px) {
    .featured__work--desc {
        width: 90vw;
        height: 100%;
    }
}

@media (max-width: 940px) {
    [class*="__container"] {
        padding: 0 20px;
    }
}

@media (max-width: 940px) {
    #feat-work-2 {
        display: none;
    }
}

/* Blog page media */

@media (max-width: 703px) {
    .blog__title {
        max-width: 339px;
        margin: 0 auto 18px auto;
        font-size: 30px;
    }
}

@media (max-width: 703px) {
    .blog__posts--title {
        font-size: 26px;
        margin-top: 18px;
    }
}

@media (max-width: 703px) {
    .blog__posts {
        max-width: 339px;
        margin: 0 auto;
    }
}

@media (max-width: 703px) {
    .blog__posts--text {
        max-width: 339px;
    }
}

/* WORK Page media */

@media (max-width: 940px) {
    .work__title {
        max-width: 344px;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        text-align: left;
        margin: 0 auto;
       
    }
}
