@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900);

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #000000;
    --dark-color: #21243d;
    --primary-color: #ff6464;
    --light-blue: #edf7fa;
    --link-color: #00a8cc;
    --white-color: #fff;
    --gray-color: #8695a4;
    --line-break-color: #e0e0e0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black-color);
}
ul,
ol,
li {
    list-style: none;
}

[class*="__container"] {
    padding: 0 88px;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Heebo", sans-serif;
    width: 100%;
    /* height: 2000px; */
}

.wrapper {
    max-width: 1032px;
    margin: 0 auto;
}

.header__nav {
    padding: 27px 0;
    margin-left: 796px;
}

.header__nav,
ul,
li,
a {
    display: flex;
    gap: 33px;
}

.header__nav--link {
    font-size: 20px;
    font-weight: 500;
}

.header__nav--link:hover {
    color: var(--primary-color);
    transition: 0.3s ease;
    transform: translateY(-2px);
}

.header__nav--link:active {
    color: var(--white-color);
    transition: 0.1s ease;
}

/* end of header */

/* main intro start */
.main__intro {
    /* max-width: 835px; */
    margin: 0 auto;
    padding-top: 131px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.main__intro--desc {
    max-width: 506px;
}

.main__intro--name {
    font-size: 44px;
    font-weight: 700px;
    line-height: 60px;
    color: var(--dark-color);
}

.main__intro--about {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
}

.main__intro--btn {
    display: inline-block;
    margin-top: 38px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    color: white;
    padding: 9px 21px 14px 20px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.main__intro--btn:hover {
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--black-color);
    transition: 0.3s ease-in;
}

/* section recent start */

.recent {
    background-color: var(--light-blue);
}

/* .recent__container {
    padding: 0 88px;
} */

.recent__texts {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent__texts--posts {
    font-size: 22px;
    font-weight: 400;
    color: var(--dark-color);
    line-height: 60px;
}

.recent__texts--more {
    font-size: 16px;
    font-weight: 400;
    color: var(--link-color);
    line-height: normal;
}

.recent__cards--container {
    display: flex;
    justify-content: space-between;
}

.recent__cards {
    max-width: 418px;
    margin-top: 2px;
    background-color: #fff;
    padding: 24px 21px 7px 23px;
    border-radius: 4px;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
    margin-bottom: 32px;
}

.recent__cards--header {
    font-size: 26px;
    color: var(--dark-color);
    font-weight: 700;
    line-height: normal;
}

.recent__cards--date {
    margin-top: 17px;
    display: flex;
    gap: 26px;
}

.recent__cards--text {
    margin-top: 11px;
    max-width: 368px;
    color: var(--dark-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Featured section start */

.featured {
    margin-bottom: 83px;
}

.featured__container {
    margin-top: 15px;
}
.featured__title {
    color: var(--dark-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
}

.featured__works {
    margin-top: 22px;
}

.featured__work {
    display: flex;
    gap: 18px;
    border-bottom: 1px solid var(--line-break-color);
    padding-bottom: 15px;
}

.featured__work:nth-of-type(2) {
    margin-top: 31px;
    padding-bottom: 35px;
}

.featured__work:nth-of-type(3) {
    margin-top: 31px;
    padding-bottom: 32px;
}
/* code below is for works page */
.featured__work:nth-of-type(4) {
    margin-top: 31px;
    padding-bottom: 32px;
}

.featured__work--img {
    width: 246px;
    height: 180px;
}

img {
    width: inherit;
    height: inherit;
}

.featured__work--date {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 16px;
}

.featured__work--date--year {
    width: 62px;
    height: 25px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    background-color: var(--dark-color);
    border-radius: 16px;
}

.featured__work--date--dash {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray-color);
}

.featured__work--desc--text {
    margin-top: 17px;
}

/* End of main */

/* Footer */

.footer {
    padding-top: 51px;
    padding-bottom: 54px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.copyright {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--dark-color);
    margin-top: 26px;
    text-align: center;
}

/* Blog page styles */

.blog__title {
    margin-top: 63px;
    margin-bottom: 55px;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.blog__posts {
    margin-bottom: 32px;
    padding-bottom: 29px;
    border-bottom: 1px solid var(--line-break-color);
}

.blog__posts--title {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blog__posts--desc {
    margin-top: 16px;
    display: flex;
    gap: 20px;
}

.blog__posts--date,
.blog__posts--items {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--dark-color);
}

.blog__posts--items {
    color: var(--gray-color);
}

.blog__posts--text {
    margin-top: 15px;
    width: 682px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: var(--dark-color);
}

#blog-post-last {
    margin-bottom: 53px;
}

#blog-title {
    color: var(--primary-color);
}

#works-title {
    color: var(--primary-color);
}

/* WORK Page styles */

.work__title {
    margin-top: 63px;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 25px;
}

.featured__work--link {
    margin-top: 43px;
}

/* Detail work page */

.work__detail--title {
    margin-top: 63px;
    font-size: 34px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 25px;
}

.detail__date {
    display: flex;
    gap: 17px;
}

.detail__date--year {
    background-color: var(--primary-color);
}

.detail__date--title {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: var(--dark-color);
}

.detail__content > p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 23px;
    max-width: 681px;
}

.detail__content > img {
    margin-top: 46px;
}

.detail__sample {
    margin-top: 54px;
}

.detail__sample--1 {
    color: var(--dark-color);
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
}

.detail__sample--2 {
    color: var(--dark-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
}

/* burger menu */

.hamburger-menu__items{
    width: 90vw;
    height: 90vh;
    background-color: var(--white-color);
    opacity: 0.6;
}

.hamburger-menu__container {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
    width: 30px;
    height: 3px;
    background-color: var(--black-color);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--black-color);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-8px);
}

.menu-btn__burger::after {
    transform: translateY(8px);
}

/* Animation */

.hamburger-menu__container.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.hamburger-menu__container.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.hamburger-menu__container.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
